:root {
  /*--clr-primary*/
  /*--clr-secondary*/
  /*--clr-accent*/
  /*--clr-contrast*/
  /*--clr-high-contrast*/
  --clr-primary: 38 38 38;
  --clr-secondary: 41 41 41;
  --clr-accent: 235 62 114;
  --clr-contrast: 221 221 221;
  --clr-high-contrast: 255 255 255;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--clr-contrast));
  background-color: rgb(var(--clr-primary));
}

a {
  color: rgb(173, 173, 173);
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  margin-bottom: 1.5rem;
}

section + section {
  margin-top: 2rem;
}

* {
  box-sizing: inherit;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.logo {
  color: rgb(var(--clr-accent));
  font-size: 1.5rem;
  font-weight: bold;
}

.switch {
  --switch-width: 68px;
  --switch-height: 34px;

  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: calc(var(--switch-height) / 2);
  background-color: rgb(var(--clr-contrast));
  cursor: pointer;
}

.toggler {
  position: absolute;
  width: calc(var(--switch-height) - 0.5rem);
  height: calc(var(--switch-height) - 0.5rem);
  top: 0.25rem;
  left: 0.25rem;
  border-radius: 50%;
  background-color: rgb(var(--clr-primary));

  transition: transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.switch-active {
  transform: translateX(calc(var(--switch-width) / 2));
}

.ilustration {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 4rem auto 0;
}

.info::after {
  content: "";
  position: block;
  width: 100%;
  height: 4rem;
}

.ilustration::before,
.ilustration::after,
.ilustration > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid #dddddd; */
  border: 1px solid rgb(var(--clr-contrast));
  animation: rotate 5s linear infinite;
}

.ilustration::before {
  content: "";
  border-radius: 69% 31% 42% 58% / 71% 65% 35% 29%;
  animation-direction: reverse;
}

.ilustration > span {
  border-radius: 38% 62% 22% 78% / 22% 81% 19% 78% ;
  animation-direction: reverse;
}

.ilustration::after {
  content: "";
  border-radius: 75% 25% 57% 43% / 46% 24% 76% 54%;
  animation-duration: 10s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card {
  padding: 1rem;
  cursor: pointer;
  color: rgb(173, 173, 173);
  border-radius: 0.5rem;
  background-color: rgb(var(--clr-secondary));
}

.card + .card {
  margin-top: 1rem;
}

.card:hover {
  color: rgb(var(--clr-contrast));
  /* background-color: rgb(51 51 51); */
  background-color: rgb(var(--clr-contrast) / 0.2);
}

.card:hover a {
  color: rgb(var(--clr-contrast));
}

.card-title {
  position: relative;
  /* display: inline-block; */
  width: fit-content;
}

.card-title:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  /* right: -1rem; */
  /* height: 0.25rem; */
  background-color: rgb(var(--clr-accent));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}

.card:hover .card-title:before{
  transform: scaleX(1);
}

.none {
  display: none;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    margin-bottom: 0;
  }

  main section {
    flex: 1 1 100%;
    margin-top: 0;
  }

  /* .header {
    position: fixed;
  } */

  .info {
    margin-right: 2rem;
    min-height: max-content;
    height: calc(100vh - 2rem - 35px - 2rem - 2rem); 
  }

  .list-sketches {
    position: relative;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .list-sketches::-webkit-scrollbar {
    display: none;
  }

  .scrollable {
    position: absolute;
    inset-inline: 0;
  }

  .info h1 {
    font-size: 2rem;
  }
}